<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>사진 전시회 서비스 - 로그인</title>
<link rel="stylesheet" href="/stylesheets/login.css"></link>
</head>
<body>
	<header id="header">
		<img src="/images/icon.png" alt="" onclick="location.href = '/';">
		<p>Welcome back!</p>
	</header>

	<section>
		<form action="/login" method="POST">
			<input id="authid" type="text" name="id" placeholder="아이디"></input>
			<input id="authpw" type="password" name="pw" placeholder="비밀번호"></input>
			<button>로그인</button>
		</form>
	</section>
	<br>
	<div>
		<a id="register" href="/register">회원 가입</a>
		<a id="finder" href="/finder">아이디, 비밀번호 찾기</a>
	</div>
</body>
</html>
