<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>사진 전시회 서비스 - 로그인</title>
<link rel="stylesheet" href="/stylesheets/login.css"></link>
</head>
<body>
	<header id="header">
		<img src="http://placehold.it/50x50" alt="" onclick="location.href = '/';">
		<p>Welcome back!</p>
	</header>

	<section>
		<form action="/login" method="POST">
			<input id="authid" type="text" name="id" placeholder="Id"></input>
			<input id="authpw" type="password" name="pw" placeholder="Password"></input>
			<button>Login</button>
		</form>
	</section>
	<br>
	<div>
		<a id="register" href="/register">Sing up!</a>
		<a id="finder" href="/finder">Forgot your account?</a>
	</div>
</body>
</html>
