<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진 전시회 서비스 - 메인 페이지</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <div id="left_h" style="float:left;">
            <a href="/">
                <img src="http://placehold.it/220x50">
            </a>
        </div>
        <div id="right_h">
            <div>
                <button id="login" type="button">
                    <img src="/images/login.png" width="20px">
                </button>
            </div>
            <div>
                <button id="register" type="button">
                    <img src="/images/register.png" width="32px">
                </button>               
            </div>
        </div>
    </header>
    
    <main>
        <div id="logo">
            <a href="/">MY Journals</a>
        </div>
        <form action="search" method="post">
            <input type="text" name="" id="" placeholder="사진 또는 아이디를 검색하세요!">
        </form>
        <div id="main_img">
            <img src="images/main_img.png" alt="">
        </div>
        <div id="introduce">
            <div id="title">
                <p class="title_font">Introduce</p>
            </div>
            <div id="contents">
                
            </div>
        </div>
    </main>
</body>
<script src="/javascripts/main.js"></script>
</html>