<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/upload.css' />
  </head>
  <body>
    <h1>File upload Test</h1>
    <form action="/file/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="업로드">
    </form>
  </body>
</html>