html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header {
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
}

 /* header의 로고 및 room 버튼 부분 */
#left_h {
    width: 37%;
    height: 50px;
    float: left;
}

#logo {
    float: left;
}

/* header의 room 영역 */
#room {
    display: flex;
}

#room > div {
    margin-left: 3%;
}

 /* room 버튼 디자인 부분 */
#room > form > button {
    margin-top: 10px;
    margin-left: 8px;
    background: none;
    font-family: 'impact';
    font-size: 18px;
    border: none;
    cursor: pointer;
}

#room > div > button {
    margin-top: 10px;
}

 /* header의 검색 및 음악 및 설정 부분 */
#center_h {
    width: 50%;
    display: flex;
    float: left;
}

#center_h > #find {
    width: 50%;
}

#center_h > div > button {
    margin-top: 10px;
}

 /* header의 search 디자인 부분 */
#center_h > div > #search > input {
    width: 90%;
    color: white;
    margin-top: 6px;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.6);
}

#center_h > #music {
    width: 35%;
}

#center_h > #set {
    width: 10%;
}

#center_h > div > audio {
    width: 95%;
    height: 30px;
    margin-top: 8px;
    outline: 0;
}

 /* header의 사용자 버튼 */
#right_h {
    width: 11.5%;
    display: flex;
    float: right;
}

#right_h > div {
    margin-right: 5%;
}

#right_h > div > button {
    margin-top: 7%;
    color: white;
    font-size: 13px;
}

main {
    height: 100%;
}

/* 회원이 등록한 사진 */
.user_photo {
    cursor: pointer;
    border: solid;
    border-color: #353535;
    width: 250px;
    height: 250px;
}

.user_photo > img {
    width: 100%;
    height: 100%;
}

 /* 로그인 시 나타나는 회원의 미니 프로필 */
#mini_profile {
    z-index: 1;
    position: fixed;
    margin-top: 20px;
    width: 13%;
    height: 80px;
    top: 8%;
    left: 85%;
    background-color: white;
    border: groove;
    display: none;
    grid-template-columns: 1.7fr 2fr;
}

#mini_profile > div {
    text-align: center;
}

 /* 미니 프로필 사진 */
#mini_profile > div > img {
    margin-top: 10px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    left: 5%;
}

 /* 미니 프로필의 이름, 아이디 부분 */
 #mini_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mini_info > p {
    margin: 0 auto;
}

#mini_name {
    font-size: 14px;
    color: gray;
}

/* 사진 등록 버튼 */
#add {
    z-index: 1;
    width: 70px;
    height: 70px;
    position: fixed;
    left: 92%;
    top: 85%;
}

/* 사진 등록 모달창 */
#modal {
    margin: auto;
    width: 25%;
    height: 50%;
    background-color: white;
    border-radius: 5%;
}

#modal_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.7);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

/* 사진 등록 모달창 닫기 */
#modalcomeout {
    background: none;
    width: 10%;
    height: 30px;
    float: right;
    border: none;
}

#msg_but {
    width: 30%;
    height: 10%;
    margin-top: 4%;
    margin-left: 6%;
}

#modal > h1 {
    margin-top: 9%;
    margin-bottom: 15%;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

#modal > form {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modal > form > input {
    margin: 0 auto;
}

/* 등록 사진의 이름 */
#photo_name {
    border: solid 3px;
    border-radius: 5px;
    height: 20%;

    padding: 0 10px;
}

#add_submit {
    width: 30%;
    border: none;
    height: 20%;
    background-color: rgba(0,0,0,0.8);
    font-size: 14px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

/* 정의 및 기본 선택자 */

input::placeholder {
    color: white;
    font-size: 15px; 
}

#modal > form > input::placeholder {
    color: black;
    font-size: 14px; 
}

input, button {
    outline: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

b {
    font-size: 15px;
}