html, body{
    margin: 0;
}

header {
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: rgb(43, 83, 193);
}

 /* header의 로고 및 room 버튼 부분 */
#left_h {
    width: 37%;
    height: 50px;
    float: left;
    cursor: pointer;
}

#logo {
    width: 40%;
    float: left;
    display: flex;
}

#logo > img {
    width: 35px;
    height: 35px;
    margin: 6px;
    padding-left: 6px;
}
#logo > p {
    margin-top: 10px;
    margin-left: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

/* header의 room 영역 */
#room {
    display: flex;
}
#room > form {
    display: flex;
    padding-top: 13px;
}

#room > div {
    margin-left: 3%;
}
#room > form > p {
    margin: 0 10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

 /* room 버튼 디자인 부분 */
#room > div > button {
    margin-top: 10px;
}

#room > form > input {
    display: none;
}

 /* header의 검색 및 음악 및 설정 부분 */
#center_h {
    width: 50%;
    display: flex;
    float: left;
}

#center_h > #find {
    width: 60%;
    position: relative;
}

#center_h > div > button {
    margin-top: 10px;
}

 /* header의 search 디자인 부분 */
#center_h > div > form > input {
    width: 90%;
    margin-top: 6px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 1px;
    height: 35px;
    color: white;
    padding: 0 10px;
    outline: none;
}

#find > form > input::placeholder {
    text-align: center;
    color: white;
}
#find > form > button {
    background: none;
    border: none;
}
#find > form > button > img {
    margin-top: 7px;
    width: 25px;
    height: 25px;
}

#center_h > #music {
    width: 35%;
}

#center_h > #set {
    width: 10%;
}

#center_h > div > audio {
    width: 95%;
    height: 30px;
    margin-top: 8px;
    outline: 0;
}

 /* header의 사용자 버튼 */
#right_h {
    width: 9%;
    display: flex;
    float: right;
}

#right_h > div {
    margin-right: 5%;
}

#profile, #people {
    margin-top: 10px;
    color: white;
    font-size: 13px;
}

#logout {
    margin-top: 9px;
}

/* 본문 main 부분 */

main {
    height: 100%;
}

/* 저널 제목 관련 */
#edit_title > input, #edit_title > button {
    margin: 0 auto;
}

#e_p_t {
    width: 70%;
    height: 15%;
}

#journal_logo {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#journal_logo > #subject {
    margin: 0;
    padding: 0;
    font-size: 80px;
    padding-right: 2%;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;
}

#short_intro {
    color: #002266;
    padding-left: 2%;
    font-weight: bold;
    font-size: 16px;
    border-left: solid #002266 4px;
}

hr {
    width: 80%;
}

#user_space {
    height: 100%;
}

/* 회원이 등록한 사진 */
.user_photo {
    cursor: pointer;
    position: absolute;
    z-index: 0;
}

.user_photo > input {
    display: none;
}

.user_photo > img, .user_photo > video {
    width: 100%;
    height: 100%;
}

.user_photo > div > h3, .user_photo > div > p {
    color: black;
}

.user_photo > h4 {
    margin: 0;
    display: inline-block;
    border-bottom: solid #AAAAAA 1px;
    padding-bottom: 3px;
}

.user_photo > p {
    margin: 0;
    padding-top: 8px;
}

.photohover:hover {
    transform: scale(1.1);
    transition: all ease 0.01s;
}

 /* 로그인 시 나타나는 회원의 미니 프로필 */
#mini_profile {
    z-index: 1;
    position: fixed;
    margin-top: 20px;
    width: 8%;
    height: 80px;
    top: 6%;
    left: 90.5%;
    background-color: white;
    border: groove;
    display: none;
}

#mini_profile > div {
    text-align: center;
}

 /* 미니 프로필 사진 */
#mini_profile > div > img {
    margin-top: 10px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

 /* 미니 프로필의 이름, 아이디 부분 */
 #mini_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mini_info > p {
    margin: 0 auto;
}

#mini_name {
    font-size: 14px;
    color: gray;
}

/* 사진 등록, 편집 버튼 */
#add {
    z-index: 1;
    width: 40px;
    height: 60px;
    position: fixed;
    left: 94%;
    top: 85%;
}
#upload {
    z-index: 1;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: fixed;
    left: 89%;
    top: 85%;
    background: black;
    color: white;
    border-radius: 50%;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    background: #DB0000;
    padding-left: 11px;
    font-size: 20px;
    font-weight: bold;
}

#upload {
    z-index: 1;
    width: 40px;
    height: 60px;
    position: fixed;
    left: 88%;
    top: 85%;
    background-color: black;
}

/* 사진 등록 모달창 */
#modal, #modal2, #modal4 {
    margin: auto;
    width: 25%;
    height: 350px;
    background-color: white;
}

#sel_contents {
    text-align: center;
    height: 100px;
    font-size: 13px;
    font-weight: bold;
}

#sel_contents > input {
    margin-bottom: 20px;
}

#modal3 {
    margin: auto;
    max-width: 800px;
    max-height: 800px;
}

#add_modal_bg, #edit_modal_bg, #zoom_modal_bg, #edit_journal_title {
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.7);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

#edit_journal_title {
    display: flex;
}

#edit_title {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 사진 등록 모달창 닫기 */
.modalcomeout {
    background: none;
    width: 10%;
    height: 30px;
    float: right;
    border: none;
}

#photo_zoom > .modalcomeout {
    height: 30px;
    padding-left: 7%;
}

#msg_but {
    width: 30%;
    height: 10%;
    margin-top: 4%;
    margin-left: 6%;
}

#modal > h1, #modal4 > h1 {
    margin-top: 9%;
    margin-bottom: 15%;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

#modal2 > h1 {
    margin-top: 9%;
    margin-bottom: 7%;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

#modal > form {
    flex-direction: column;
}

#modal > #add_title{
    width: 95%;
    height: 75px;
    margin: 20px 0;
    padding-left: 5%;
    text-align: left;
    border-bottom: 2px double rgb(43, 83, 193);
    font-size: 32px;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
}

#add_photo, #sel_contents {
    height: 50%;
    justify-content: space-between;
}

#add_text {
    justify-content: space-around;
    height: 200px;
}

#add_text > textarea {
    height: 100px;
}

#test_name {
    border: solid 3px;
    border-radius: 5px;
    height: 14%;
    padding: 0 10px;
}

#add_photo, #add_text {
    display: none;
}

#modal2 > form {
    margin-top: 15%;
    height: 50%;
    text-align: center;
}

#modal > form > input {
    margin: 0 auto;
}

/* 등록 사진의 이름 */
#photo_name, #text_name, #e_p_t {
    border: 0;
    border-bottom: 2px solid rgb(43, 83, 193);
    border-radius: 1px;
    padding: 0 10px;
}

#photo_name {
    height: 20%;
}

#text_name {
    height: 12%;
}

.edit_input {
    border: solid 3px;
    border-radius: 5px;
    height: 20%;
    padding: 0 10px;
    margin-bottom: 6%;
}

#add_submit, #edit_submit, #delete_submit, #sel_submit, #text_submit {
    width: 30%;
    border: none;
    height: 20%;
    color: white;
    background-color: rgb(43, 83, 193);
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#msg_cont {
    width: 90%;
    outline: 0;
    resize: none;
    border: solid 1px;
    margin: 0 auto;
}

/* 사진 확대 선택자 */

#photo_zoom {
    width: 100%;
    height: 93%;
}

#photo_info {
    widows: 100%;
    height: 7%;
    font-size: 14px;
}

#photo_info > p {
    color: white;
}

#cnt {
    float: left;
}

#zoom_date {
    float: right;
    margin-right: 2%;
}

#zoom_name {
    float: right;
}

#zoom_img, #zoom_video {
    width: 100%;
    height: 95%;
    display: none;
}

/* 정의 및 기본 선택자 */

#search > input::placeholder {
    color: white;
    font-size: 15px;
}

input::placeholder { 
    color: black;
    font-size: 14px;
}

input, button, video {
    outline: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

b {
    font-size: 15px;
}