/*전역*/
html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(43, 83, 193);
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
p {
    color: white;
    font-size: 20px;
}
h5 {
    color: black;
}
img {
    cursor: pointer;
}
html, body, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*상단바*/
header{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

/*계정 정보 입력창*/
section {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
section > p{
    margin: 10px;
    color: gray;
    line-height: 12px;
    font-size: 11px;
}
form:first-child{
    height: 150px;
    
}
form:last-child{
    height: 300px;
}
form > input{
    width: 276px;
    height:30px;
    padding: 0 10px;
    margin: 0 100px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid #EAEAEA 1.5px;
    color: black;
}
form > span{
    color: white;
    margin-top: 10px;
    text-align: left;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}
form > h5{
    margin: 10px;
    color: gray;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}
form > input > input::placeholder{
    color: black;
    font-size: 15px;
}
form > button{
    width: 200px;
    height: 30px;
    margin: 10px 150px;
    background-color: rgb(43, 83, 193);
    color: white;
    border: solid rgb(43, 83, 193) 1.5px;
    border-radius: 5px;
    cursor: pointer;
}
form a{
    color: skyblue;
}
/* 하위 메뉴 */
body > div {
    width: 500px;
    margin: 13px auto;
}

#login {
    float: left;
}

#register {
    float: right;
}