html, body{
    margin: 0;
    overflow: scroll-y;
    background-color: white;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(43, 83, 193);
}

#left_h{
    width: 50%;
    float: left;
}

#right_h {
    width: 50%;
    height: 50px;
    flex-direction: row;
    float: right;
    overflow: hidden;
}

#right_h > div {
    margin-right: 1%;
    float: right;
}

/* header의 사용자 버튼 */
#right_h > div > button {
    cursor: pointer;
    border: none;
    background: none;
}

/* header의 login 버튼 */
#login {
    margin-top: 9px;
}

/* header의 register 버튼 */
#register {
    margin-top: 10px;
}

main {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-bottom: 3.5%;
}

main > div {
    margin-bottom: 60px;
}

#logo {
    text-align: center;
    float: left;
    width: 100%;
}

#logo > a {
    font-size: 140px;
    font-family: 'impact';
}

form {
    margin: 0 auto;
    margin-top: 3.5%;
    width: 55%;
}

/* 검색 부분 */
main > form > input {
    margin-bottom: 60px;
    height: 100px;
    width: 90%;
    background-color: inherit;
    border: 0;
    border-bottom: 2px solid #2b53c1;
    border-radius: 1px;
    color: rgb(43, 83, 193);
    font-size: 33px;
    padding: 0 25px;
}

#main_img > img {
    width: 100%;
    height: 450px;
}

input ::placeholder {
    color: rgb(43, 83, 193);
}

input ::-webkit-input-placeholder{
    color: rgb(43, 83, 193);
}

input ::-moz-placeholder{
    color: rgb(43, 83, 193);
}

/* 서비스 소개 부분 */
#introduce {
    width: 100%;
    height: 450px;
}

#introduce > div {
    margin: 0 auto;
    width: 80%;
}

#title {
    height: 13%;
}

.title_font {
    font-family: 'impact';
    font-size: 30px;
    color: rgb(43, 83, 193);
}

#contetns {
    height: 87%;
}


input::placeholder {
    text-align: center;
}

input, button {
    outline: 0;
}

img {
    cursor: pointer;
    outline: 0;
    border: none;
}

a {
    text-decoration: none;
    color: #002266;
}