html, body{
    margin: 0;
    background-color: white;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(43, 83, 193);
}

#left_h{
    width: 50%;
    float: left;
}

#right_h {
    width: 50%;
    height: 50px;
    flex-direction: row;
    float: right;
    overflow: hidden;
}

#right_h > div {
    margin-right: 1%;
    float: right;
}

/* header의 사용자 버튼 */
#right_h > div > button {
    cursor: pointer;
    border: none;
    background: none;
}

/* header의 login 버튼 */
#login {
    margin-top: 9px;
}

/* header의 register 버튼 */
#register {
    margin-top: 10px;
}

main {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding-bottom: 3.5%;
}

main > div {
    margin-bottom: 60px;
}

#logo {
    margin-top: 40px;
    display: flex;
    width: 100%;
}

#logo > #subject {
    text-align: center;
    font-size: 150px;
    font-family: 'impact';
    padding-right: 2%;
}

#short_intro {
    color: #002266;
    padding-left: 2%;
    width: 10%;
    font-size: 30px;
    font-family: 'impact';
    border-left: solid #002266 4px;
}

form {
    margin: 0 auto;
    margin-top: 3.5%;
    width: 55%;
}

/* 검색 부분 */
main > form > input {
    margin-bottom: 60px;
    height: 100px;
    width: 90%;
    background-color: inherit;
    border: 0;
    border-bottom: 2px solid #2b53c1;
    border-radius: 1px;
    color: rgb(43, 83, 193);
    font-size: 33px;
    padding: 0 25px;
}

#main_img > img {
    width: 100%;
    height: 480px;
}

input ::placeholder {
    color: rgb(43, 83, 193);
}

input ::-webkit-input-placeholder{
    color: rgb(43, 83, 193);
}

input ::-moz-placeholder{
    color: rgb(43, 83, 193);
}

/* 인기 항목들 소개 부분 */
#popular, #people, #new {
    width: 100%;
    height: 460px;
    padding-top: 1%;
}

#popular > div, #people > div, #new > div {
    margin: 0 auto;
    width: 80%;
}

#title {
    padding-left: 5%;
    height: 15%;
}

.title_font {
    font-family: 'impact';
    font-size: 30px;
    color: rgb(43, 83, 193);
}

#contents {
    height: 75%;
    display: flex;
    flex-direction: row;
}

.block {
    width: 33.5%;
    height: 100%;
}

.block > .mini_img, .mini_title {
    text-align: center;
}
.mini_img, .mini_title {
    cursor: pointer;
}

.mini_title {
    width: 80%;
    height: 14%;
    font-size: 17px;
    margin: 0 auto;
    color: #323232;
}

.mini_img {
    height: 65%;
}

.mini_img > p {
    margin: 0;
    font-size: 15px;
}

.mini_img > img {
    width: 80%;
    height: 100%;
}

.cnt_and_go {
    border-top: solid #BDBDBD 1px;
    height: 12%;
    width: 80%;
    margin: 0 auto;
}

#people > #contents > .block > .cnt_and_go > img {
    width: 22px;
    margin-top: 20px;
    height: 16px;
    float: left;
}

#people > #contents > .block > .mini_img > img {
    object-fit: cover;
    border-radius: 50%;
    width: 60%;
    height: 90%;
}

#people {
    background-color: #F6F6F6;
}

.cnt_and_go > img {
    width: 22px;
    margin-top: 22px;
    height: 12px;
    float: left;
}

.cnt, .nick {
    font-size: 13px;
    margin-top: 19px;
    color: #323232;
}

.cnt {
    float: left;
    text-align: left;
    padding-left: 3%;
}

.nick {
    width: 40%;
    float: right;
    text-align: right;
}

footer {
    width: 100%;
    padding-top: 70px;
    background-color: #002266;
    height: 400px;
}

#menu {
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 80%;
    color: white;
}

#menu_left {
    width: 70%;
}

#menu_left > p > a > b {
    color: white;
    font-size: 17px;
}

#menu_right {
    text-align: center;
    color: white;
    width: 30%;
}

#menu_right > p {
    margin-top: 35px;
}

#menu > #menu_right > p > b > a {
    font-size: 20px;
    color: white;
}

#repository {
    margin-top: 35px;
    padding-top: 3%;
    background-color: white;
    height: 40px;
    width: 58%;
    color: #002266;
    text-align: center;
    
}

#menu_intro {
    font-size: 27px;
}

#error, #contribute{
    font-size: 17px;
    color: white;
}

#contributor {
    text-align: center;
    color: white;
    font-size: 13px;
}

input::placeholder {
    text-align: center;
}

input, button {
    outline: 0;
}

img {
    cursor: pointer;
    outline: 0;
    border: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #002266;
}