/*------------------------------ CSS 초기화 ------------------------------*/
html{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
button {
    outline: 0;
}
/*---------------------------- CSS 초기화 끝 ----------------------------*/

/*------------------------------- 헤더 부분 -------------------------------*/
/* header 기본 */
header {
    width: 100%;
    height: 50px;
    background-color: rgb(43, 83, 193);
    flex-direction: row;
}

/* header의 로고 및 room 버튼 부분 */
#header_left {
    width: 35%;
    height: 50px;
    float: left;
}
#logo{
    width: 220px;
}

/* header의 검색 부분 */
#header_center {
    width: 30%;
    height: 50px;
    margin: 0;
    float: left;
}
#header_center > #find {
    width: 100%;
}
#header_center > #find > form{
    width: 100%;
    margin: 0;
}

/* header의 search 디자인 부분 */
#header_center > div > form > input {
    width: 100%;
    margin-top: 6px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 1px;
    height: 35px;
    color: white;
    padding: 0 10px;
}
#header_center > div > form > input::placeholder {
    color: white;
    font-size: 15px;
}

/* header의 사용자 버튼 */
#header_right {
    width: 35%;
    height: 50px;
    position: relative;
    float: right;
    overflow: hidden;
}
#header_right > div {
    margin-right: 1%;
    float: right;
}
#header_right > div > button {
    margin-top: 7%;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 13px;
    background: none;
}
/*----------------------------- 헤더 부분 끝 -----------------------------*/



/*------------------------------ 본문 부분 -------------------------------*/
/* 본문 부분 기본 */
section{
    z-index: 1;
    display: relative;
    margin: 50px auto;
    padding: 0;
    width: 80%;
    /*height: 700px;*/
    border: 0;
}

/* 내부 상단 탭 메뉴 */
nav{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    box-sizing: content-box;
}

/*내부 탭 메뉴 버튼*/
.navbutton{
    text-align: center;
    display: inline-block;
    margin: auto 0;
    width: 10%;
    height: 50px;
    font-size: 15px;
    color: grey;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

/* 본문 내용 */
article{
    width: 100%;
    box-sizing: content-box;
}
h3, h4{
    text-align: left;
    text-decoration-color: gray;
}

/*내정보 탭*/
.myinfo{
    margin: 0 10%;
    width: 80%;
    height: 350px;
}
.Mypicture{
    display: block;
    float: left;
    width: 30%;
    height: 350px;
    margin-right: 10%;
}
.picture{
    margin: 0 auto;
    margin-top: 80px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    background-image: url("http://placehold.it/180x180");
    border: 2px solid black;
}
.picture_modify{
    margin-top: 10px;
    line-height: 15px;
    text-align: center;
}
.picture_modify > a{
    font-size: 15px;
    font-weight: bold;
    color: rgb(43, 83, 193);
}
.info{
    display: block;
    float: right;
    width: 60%;
    margin-top: 50px;
    height: 300px;
}
.info > table{
    width: 100%;
    margin: auto 0;
    border-collapse: collapse;
}
#t_head{
    width: 100%;
    height: 50px;
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
    color: rgb(43, 83, 193);
}
.t_label{
    width: 15%;
    height: 23px;
    margin: 0;
    border: 0;
    border-bottom: 2px solid rgb(43, 83, 193);
    background-color: rgba(0,0,0,0);
}
.t_data{
    width: 85%;
    height: 23px;
    margin: 0;
    border: 0;
    border-bottom: 2px solid rgb(43, 83, 193);
    background-color: rgba(0,0,0,0);
}

/*구독 탭*/
.subscribe{
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    height: 100%;
}
#sub_msg {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    height: 60px;
}
#sub_msg  > h1 {
    font-family: 'Do Hyeon', sans-serif;
}
.people{
    display: inline-block;
    padding: 2.5%;
    margin-bottom: 5px;
    width: 200px;
    height: 325px;
    border: 2px solid black;
}
.Spicture{
    width: 90px;
    height: 90px;
    background-image: url("http://placehold.it/90x90");
    margin: 10px auto;
}
.subbox{
    width: 100%;
    margin: 0;
    font-size: 10px;
}
.subbox > form > button {
    width: 70%;
    margin: 5px 15%;
    height: 25px;
    background-color: rgb(43, 83, 193);
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: white;
    border: 0;
    cursor: pointer;
}
.subbox > form > input {
    display: none;
}
.realname {
    margin-bottom: 12%;
}

/*쪽지 탭*/
.letter{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#let_msg {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    height: 60px;
}
#let_msg > h1 {
    font-family: 'Do Hyeon', sans-serif;
}
.ups{
    height: 60px;
}
.downs{
    border-width: 1px;
    border-color: black;
}
.tables{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.pre_nick, .pre_cont, .pre_date, .pre_num {
    display: none;
}
.tables > th{
    border: 0;
    border-bottom: 2px solid black;
}
.tables > td{
    border: 0;
    border-bottom: 2px solid black;
}
.modalcomeon {
    font-size: 18px;
    font-family: 'Do Hyeon', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}

/*회원정보수정 탭*/
.modify_info{
    margin: 0 10%;
    width: 80%;
    height: 320px;
}
.modify_info_title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}
.modify_info_title > h1{
    font-family: 'Do Hyeon', sans-serif;
}
.modify_auth{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
.modify_auth > form > p{
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
}
.remodify{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
.remodify > form > p{
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
}
.modi_input{
    display: block;
    width: 30%;
    height: 20px;
    margin: 15px auto;
    border: 0;
    border-bottom: 2px solid rgb(43, 83, 193);
    background-color: rgba(0,0,0,0);
}
.modi_confirm{
    width: 150px;
    height: 30px;
    border: 0;
    background-color: rgb(43, 83, 193);
    color: white;
}

/*회원탈퇴 탭*/
.resign{
    margin: 10px auto;
    width: 80%;
    height: 320px;
}
.resign_title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}
.resign_title > h1 {
    font-family: 'Do Hyeon', sans-serif;
}
#resign_warnings{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#resign_warnings > h2{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#resign_warnings > p{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
#resign_confirm{
    width: 100%;
    margin-top: 30px;
}
#resign_confirm > input{
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 30%;
    height: 25px;
    border: 0;
    border-bottom: 2px solid rgb(43, 83, 193);
    background-color: rgba(0,0,0,0);
}
.resignbutton{
    height: 35px;
    float: right;
    background-color: rgb(43, 83, 193);
    font-size: 15px;
    color: white;
    border: 0;
    cursor: pointer;
}
/*------------------------------ 본문 부분 끝 -------------------------------*/

/*------------------------------- 쪽지 모달창 -------------------------------*/
/* 모달창 배경 */
.plettle{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.7);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}

/* 모달창 내용 기본 */
.modal{
    margin: auto;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-color: white;
}
.modalcomeout {
    z-index: 1;
    background: none;
    margin-right: 2%;
    height: 8%;
    float: right;
    border: none;
}

/* 모달창 내용 상단정보 */
.upss{
    margin: 0 5%;
    margin-top: 7%;
    padding-top: 6%;
    width: 90%;
    height: 23%;
    display: flex;
    
}
.msg_info{
    font-size: 10px;
    width: 90%;
    margin-left: 10%;
}
#msg_nick{
    font-size: 13px;
}
#msg_nick > h1{
    margin: 0;
}
#date {
    font-size: 10px;
}
#date > h2{
    margin: 0;
}

/* 모달창 메시지*/
.middle{
    margin: 5% 5%;
    width: 90%;
    height: 60%;
    text-align: center;
}
#msg {
    width: 100%;
    height: 100%;

}
#msg_cont {
    width: 97.5%;
    height: 70%;
    outline: 0;
    resize: none;
    border: 2px solid black;
    background-color: white;
}
.msgbutton{
    margin: 5px 0;
    height: 25px;
    background-color: rgb(43, 83, 193);
    font-size: 15px;
    color: white;
    border: 0;
    cursor: pointer;
}
#msg_send {
    margin: 5px 0;
    height: 25px;
    background-color: rgb(43, 83, 193);
    font-size: 15px;
    color: white;
    border: 0;
    cursor: pointer;
}
/*----------------------------- 쪽지 모달창 끝 -----------------------------*/