html,body{
    margin: 0;
    height: 100%;
    background-image: url("/images/background.png");
  }

  header {
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
}

h3, h4{
    text-align: left;
    text-decoration-color: gray;
}



 /* header의 로고 및 room 버튼 부분 */
#left_h {
    width: 37%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

header > #left_h > div{
    height: 50px;
}

 /* header의 검색 부분 */
#center_h {
    width: 55%;
    height: 50px;
    display: flex;
    flex-direction: row;
    left: 3%;
    position: relative;
}

#center_h > #find {
    width: 45%;
}

 /* header의 search 디자인 부분 */
#center_h > div > form > input {
    width: 90%;
    color: white;
    margin-top: 6px;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    outline: 0;
    background-color: rgba(0,0,0,0.6);
}

 /* header의 사용자 버튼 */
#right_h {
    width: 200px;
    height: 50px;
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
}

#right_h > div {
    margin-right: 7%;
}

#right_h > div > button {
    margin-top: 7%;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 13px;
    outline: 0;
    background: none;
}

/*아래의 박스 두개*/
.box{
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.left_box{
    position: absolute;
    top: 20%; left: 22%;
    width: 180px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid black;
    border-radius: 30px;
    box-sizing: content-box;
}

.right_box{
    position: absolute;
    top: 20%; left: 37%;
    width: 600px;
    height: 550px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    box-sizing: content-box;
}

/*왼쪽 박스들*/
.button{
    text-align: center;
    display: inline-block;
    margin: 0 15px;
    margin-top: 15px;
    width: 150px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 40px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

.button :hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
    

/*오른쪽 박스-내정보*/
.myinfo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 580px;
    height: 530px;
}

.Lpicture{
    display: block;
    width: 200px;
    height: 530px;
    margin-right: 20px;
}

.picture{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
    height: 180px;
}

.pictures{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.picture_agree{
    text-align: center;
}

.info{
    display: block;
    flex-direction: row;
    width: 380px;
    height: 530px;
}

.id{
    margin-top: 100px;
    width: 300px;
    height: 70px;
}

.replytext_id{
    width: 240px;
    height: 25px;
    border: 1px solid black;
}

.name{
    margin-top: 2px;
    width: 300px;
    height: 70px;
}

.replytext_name{
    width: 240px;
    height: 25px;
    border: 1px solid black;
}

.password{
    margin-top: 2px;
    width: 300px;
    height: 70px;
}

.replytext_password{
    width: 240px;
    height: 25px;
    border: 1px solid black;
}

.state{
    margin-top: 2px;
    width: 300px;
    height: 140px;
}

.replytext_state{
    width: 280px;
    height: 90px;
    border: 1px solid black;
}

.agree{
    float: right;
    margin-right: 10px;
}

/*오른쪽 박스-구독*/
.sub{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 580px;
    height: 530px;
}

.people{
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    width: 580px;
    height: 110px;
}

.Spicture{
    width: 110px;
    height: 110px;
}

.pictures1{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.button_smaller{
    text-align: center;
    display: inline-block;
    margin: 1px, 1px, 1px, 1px;
    width: 120px;
    height: 35px;
    background-color: rgba(0,0,0,0.5);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 40px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

.subbox{
    margin-left: 10px;
    font-size: 10px;
}

.nicname{
    width: 10px;
}

.move{
    display: inline;
}

.remove{
    display: inline;
    margin-left: 20px;
}

/*오른쪽 박스-편지*/
.lettle{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 580px;
    height: 530px;
}

.ups{
    width: 580px;
    height: 60px;
}

.downs{
    width: 580px;
    height: 450px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.tables{
    width: 580px;
    height: 450px;
    text-align: center;
}

th{
    background-color: rgba(0,0,0,0.3);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 62px;
}

td{
    background-color: rgba(223, 213, 213, 0.788);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 40px;
}

td :hover a{
    color: white;
    text-decoration-color: #fafafa;
}

/*오른쪽 박스-회원 탈퇴*/
.idout{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 580px;
    height: 530px;
}

.outcontent{
    width: 580px;
    height: 320px;
}

.longtext1{
    text-align: center;
    width: 560px;
    height: 320px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fafafa;
}

.reok{
    width: 580px;
    height: 150px;
    margin-left: 20px;
}

.authid{
    margin-right: 10px;
}


/* 쪽지 모달창 */

/* 모달창 배경 */
.plettle{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.7);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}

/* 모달창 내용 */
.modalcomeout {
    z-index: 1;
    background: none;
    margin-right: 2%;
    height: 8%;
    float: right;
    border: none;
}

#msg_but {
    width: 30%;
    height: 10%;
    margin-top: 4%;
    margin-left: 6%;
}

.modal{
    margin: auto;
    z-index: 1;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    border-radius: 5%;
}

.upss{
    margin-top: 7%;
    width: 70%;
    height: 23%;
    display: flex;
    margin-left: 6%;
}

.middle{
    margin: 4% auto;
    width: 80%;
    height: 65%;
    text-align: center;
}

#msg {
    width: 94%;
    height: 100%;

}

#msg_cont {
    padding: 10px;
    width: 99%;
    height: 70%;
    border: none;
    outline: 0;
    resize: none;
    border: solid black;
    background-color: white;
}

.longtext2{
    border: 1px;
    border-color: black;
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
    height: 300px;
}

.Spicture{
    width: 110px;
    height: 110px;
}

.subbox{
    font-size: 10px;
    width: 50%;
    margin-left: 10%;
}

#nicname{
    width: 100%;
}

.Spicture > img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid;
}