/*전역*/
html, body{
    margin: 0;
    height: 100%;
    background-color: rgb(43, 83, 193);
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
p {
    color: white;
    font-size: 20px;
}
img, button {
    cursor: pointer;
}
html, body, form, section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*상단바*/
header{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
header > img {
    width: 45px;
    height: 45px;
}
section > form > div {
    color: gray;
    text-align: center;
}

/*회원가입창*/
section{
    width: 500px;
    height: 550px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
}
form{
    height: 100%;
}
form > input, button {
    margin: 0 auto;
}
form > input{
    width: 60%;
    height: 7%;
    padding: 0 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: solid #EAEAEA 1.5px;
    border-radius: 5px;
    color: black;
}
form > div{
    color: white;
    margin-top: 10px;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}
.autheula {
    float: left;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-right: 0;
}
form > input > input::placeholder{
    color: black;
    font-size: 15px;
}
form > button{
    height: 7%;
    margin: 20px auto;
    cursor: pointer;
    width: 65%;
    background-color: rgb(43, 83, 193);
    color: white;
    border: solid rgb(43, 83, 193) 1.5px;
    border-radius: 5px;
}
form span{
    color: skyblue;
    font-weight: bold;
    cursor: pointer;
}
section > a{
    display: inline-block;
    margin-top:10px;
    padding-left: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
/* 하위 메뉴 */
body > div {
    width: 500px;
    margin: 13px auto;
}

#login {
    float: left;
}

#finder {
    float: right;
}

/*모달창*/
article {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin: auto;
}
article > div{
    width: 750px;
    height: 350px;
    z-index: 100;
    margin: 0 auto;
    margin-top: 150px;
    padding: 25px;
    border: 2px solid white;
    color: white;
    background-color: rgb(43, 83, 193);
}
article > div > div{
    float: right;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}
article > div > p {
    font-size: 12px;
    margin: 0;
    overflow-y: scroll;
}

