html{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
}
body{
    margin: 0;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(43, 83, 193);
    display: flex;
    justify-content: space-between;
}

/* header의 로고 자리*/
#left_h{
    width: 35%;
    display: flex;
    cursor: pointer;
}
#left_h > img {
    width: 35px;
    height: 35px;
    margin: 6px;
    padding-left: 6px;
}
#left_h > p {
    margin-top: 10px;
    margin-left: 7px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

/* header의 검색 */
header > form {
    position: relative;
    width: 30%;
    display: flex;
    position: relative;
    left: 16px;
}
header > form > button {
    background: none;
    outline: none;
    border: none;
}
header > form > button > img {
    width: 25px;
    height: 25px;
}
#search {
    width: 90%;
    margin-top: 6px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 1px;
    height: 35px;
    color: white;
    padding: 0 10px;
}
header > form > input::placeholder {
    text-align: center;
    color: white;
}

/* header의 사용자 버튼 */
#right_h {
    width: 35%;
    position: relative;
    float: right;
    overflow: hidden;
}

#right_h > div {
    margin-right: 1%;
    float: right;
}

#right_h > div > button {
    cursor: pointer;
    border: none;
    color: white;
    font-size: 13px;
    background: none;
}
#logout {
    margin-top: 9px;
}
#profile, #people {
    margin-top: 10px;
}

/* 메인 부분 (검색 결과 출력) */
main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main > div {
    margin-left: auto;
    margin-right: auto;
}

/* 사용자 목록 블록 */
#user {
    margin: 0 22.5%;
    margin-bottom: 3%;
    width: 55%;
    height: 300px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: inherit;
}

#user_img {
    width: 35%;
    height: 300px;
    margin: auto;
    float: left;
    text-align: center;
}

/* 사용자 프로필 이미지 */
#user > div > img {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid;
}

/* 사용자 정보 블록 */
#user_info {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#user_id {
    font-family: 'impact';
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

/* 사용자 상태 메시지 */
#pro_msg {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}

#user_but {
    display: flex;
    flex-direction: row;
}

#user_but > div {
    width: 33%;
}

.sub {
    width: 100%;
    height: 100%;
}

.sub > input {
    display: none;
}

.subbox {
    width: 90%;
    margin-left: 10%;
}

#user_but > div > button, #user_but > div > form > button {
    cursor: pointer;
    background-color: rgb(43, 83, 193);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 70%;
    height: 30px;
}

#user_status {
    height: 55%;
}

/* 검색 결과 메시지 */
#message {
    margin-top: 3%;
    margin-bottom: 3%;
}

/*------------------------------- 쪽지 모달창 -------------------------------*/
/* 모달창 배경 */
.plettle{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.7);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}

/* 모달창 내용 기본 */
.modal{
    margin: auto;
    z-index: 1;
    width: 300px;
    height: 350px;
    background-color: white;
}
.modalcomeout {
    z-index: 1;
    background: none;
    margin-right: 2%;
    height: 8%;
    float: right;
    border: none;
}

/* 모달창 내용 상단정보 */
.upss{
    margin: 0 5%;
    margin-top: 7%;
    padding-top: 6%;
    width: 90%;
    height: 23%;
    display: flex;
    
}
.upss > div > img {
    margin-left: 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.msg_info{
    font-size: 10px;
    width: 90%;
    margin-left: 10%;
}
#msg_nick{
    font-size: 13px;
}
#msg_nick > h1{
    margin: 0;
}
#date {
    font-size: 10px;
}
#date > h2{
    margin: 0;
}

/* 모달창 메시지*/
.middle{
    margin: 5% 5%;
    width: 90%;
    height: 60%;
    text-align: center;
}
#msg {
    width: 100%;
    height: 100%;
}
#msg_cont {
    width: 97.5%;
    height: 70%;
    outline: 0;
    resize: none;
    border: 2px solid black;
    background-color: white;
}
.msgbutton{
    margin: 5px 0;
    height: 25px;
    background-color: rgb(43, 83, 193);
    font-size: 15px;
    color: white;
    border: 0;
    cursor: pointer;
}
#msg_send {
    margin: 5px 0;
    height: 25px;
    background-color: rgb(43, 83, 193);
    font-size: 15px;
    color: white;
    border: 0;
    cursor: pointer;
}
/*----------------------------- 쪽지 모달창 끝 -----------------------------*/

/* 정의 및 기본 선택자 */
input::placeholder {
    color: white;
    font-size: 15px;
}

input, button {
    outline: 0;
    cursor: pointer;
}

.but {
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 20px;
}