/*전역*/
html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url("../_images/background.png");
}
a{
    text-decoration: none;
    color: black;
}

/*상단바*/
header{
    width: 100%;
    height: 50px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
}
header > div{
    width: 500px;
    height: 50px;
    margin-left: 50%;
}
header > div > img{
    width: 500px;
    height: 50px;
    margin-left: -250px;
}

/*계정 정보 입력창*/
section{
    width: 300px;
    height: 450px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    overflow-y: scroll;
}
section > h2{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
}
section > p{
    margin: 10px;
    color: white;
    line-height: 12px;
    font-size: 11px;
}
form:first-child{
    height: 150px;
    
}
form:last-child{
    height: 300px;
}
form > input{
    width: 176px;
    height:30px;
    padding: 0 10px;
    margin: 0 50px;
    margin-top: 10px;
    background-color: inherit;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
form > span{
    color: white;
    margin-top: 10px;
    text-align: left;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}
form > h5{
    margin: 10px;
    color: white;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}
input::placeholder{
    color: white;
    font-size: 12px;
    font-weight: bold;
}
form > button{
    width: 200px;
    height: 30px;
    margin: 0 50px;
    margin-top: 10px;
    background-color: inherit;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
form a{
    color: skyblue;
}
section > a{
    display: inline-block;
    margin-top:10px;
    padding-left: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}