html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url("../_images/background.png");
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
}

#right_h {
    width: 110px;
    height: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 76%;
}

/* header의 사용자 버튼 */
#right_h > div > button {
    cursor: pointer;
    border: none;
    outline: 0;
    background: none;
}

#login {
    margin-top: 5px;
}

#register {
    margin-top: 9px;
}

main {
    height: 100%;
    display: block;
}

main > div {
    margin: auto;
}

#logo {
    margin-top: 50px;
    width: 500px;
    height: 150px;
}

form {
    margin: auto;
    margin-top: 40px;
    width: 55%;
}

main > form > input {
    height: 100px;
    width: 90%;
    border-radius: 30px;
    border: solid;
    border-color: lightgray;
    font-size: 33px;
    padding: 0 25px;
    outline: 0;
}

/* 서비스 소개 부분 */
#introduce {
    margin-top: 60px;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

img {
    cursor: pointer;
}