html, body{
    margin: 0;
    height: 100%;
    background-image: url("../_images/background.png");
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

#center_h > center > form > input {
    margin-top: 6px;
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 35px;
    color: white;
    padding: 0 10px;
    outline: 0;
} /* header의 검색 */

#right_h {
    width: 200px;
    height: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#right_h > div > button {
    margin-top: 7%;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 13px;
    outline: 0;
    background: none;
} /* header의 사용자 버튼 */

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main > div {
    margin-left: auto;
    margin-right: auto;
}

#user_id {
    font-family: 'impact';
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}

#user {
    cursor: pointer;
    margin-top: 40px;
    width: 55%;
    height: 300px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);

    display: grid;
    grid-template-columns: 1fr 2fr;
} /* 사용자 목록 블록 */

#user_info {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
} /* 사용자 정보 블록 */

#pro_msg {
    font-size: 15px;
    color: white;
} /* 사용자 상태 메시지 */

#user > div > img {
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid;
} /* 사용자 프로필 이미지 */

#user_but {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#user_but > div > input {
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    height: 40px;
    width: 70%;
    outline: 0;
}

#user_but > div > input:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#message {
    margin-top: 30px;
    width: 60%;
    text-align: center;
} /* 검색 결과 메시지 */

input::placeholder {
    color: white;
    font-size: 15px;
}