<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Journal Express</title>
    <link rel="stylesheet" href="/stylesheets/mobile/m_contents.css">
</head>
<body>
    <header>
        <div id=title>My Journal</div>
        <button onclick="location.href='/mobile/auth/logout'">로그아웃</button>
        <button onclick="location.href='/mobile/search'">검색</button>
        <button onclick="location.href='/mobile/profile'">프로필</button>
        <div id=title2>Express</div>
    </header>
    <section>
            <iframe src="/mobile/contentsframe" scrolling="no" frameborder="0" allowfullscreen></iframe>
    </section>
</body>
</html>