<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" content="user-scalable=no">
    <title>My Studio Express</title>
    <style>
        html, body{
            width: 100%;
            height: 100%;
            margin: 0;
            margin-top: -40px;
        }
        body{
            background-color: rgba(0, 0, 0, 0.05);
        }
        #rooms {
            width: 100%;
            height: 10%;
        }
        #rooms > button {
            width: 32.5%;
            height: 80%;
            background-color: inherit;
            border: 0;
            border-bottom: 8px solid rgb(43, 83, 193);
            padding: 0;
            margin: 0;
            color: rgb(43, 83, 193);
            font-size: 40px;
            text-align: center;
        }
        #frame{
            width: 100%;
            height: 95%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>
<body>
    <div id="frame">
        <iframe src="/mobile/loadcontents" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <div id=rooms>
        <button onclick="goto(1);">Page1</button>
        <button onclick="goto(2);">Page2</button>
        <button onclick="goto(3);">Page3</button>
    </div>
    <script>
        function goto(i){
            document.getElementsByTagName("iframe")[0].src = '/mobile/loadcontents?pagenum='+i;
        }
        $("iframe").contents().find("#add").remove();
    </script>
</body>
</html>