<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Journal Express</title>
    <link rel="stylesheet" href="/stylesheets/mobile/m_finder.css">
</head>
<body>
    <div id=title>Forgot Account?</div>
    <form id=findid action=/mobile/auth/idfinder method=POST>
        <input type=text name=e1 placeholder="계정에 등록된 E-mail">
        <button>아이디 찾기</button>
    </form>
    <form id=findpw action=/mobile/auth/pwfinder method=POST>
        <input type=text name=id placeholder=성명>
        <input type=text name=name placeholder=닉네임>
        <input type=text name=e2 placeholder="계정에 등록된 E-mail">
        <button>비밀번호 찾기</button>
    </form>
    <div id=links>
        <a href="/mobile/auth">로그인</a>
        <a href="/mobile/auth/register">회원 가입</a>
    </div>
</body>
</html>