<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Studio Express</title>
    <link rel="stylesheet" href="/stylesheets/mobile/m_profile.css">
</head>
<body>
    <header>
        <button id="back" onclick="location.href='/mobile/contents'"> Back </button>
        <div id=title>My Studio</div>
        <div id=title2>Express</div>
    </header>
    <div id=subtitle>Profile</div>
    <section id="frame">
        <iframe src="/mobile/profileframe" scrolling="no" frameborder="0" allowfullscreen"></iframe>
    </section>
</body>
</html>