html,body{
    width : 100%;
    height : 100%;
    overflow: hidden;
}
body{
    background-color: rgb(43, 83, 193);
}
#title{
    width: 50%;
    height: 10%;
    margin: 0 25%;
    font-size: 90px;
    font-weight: bold;
    line-height: 100px;
    color: white;
    text-align: center;
}
form{
    width: 80%;
    height: 75%;
    margin: 0 10%;
    margin-top: 5%;
}
form > input{
    display: block;
    width: 85%;
    height: 8.5%;
    margin: 0 7.5%;
    background-color: inherit;
    border: 0;
    border-bottom: 5px solid white;
    color: white;
    font-size: 40px;
    line-height: 50px;
}
form > input::placeholder{
    color: white;
    font-size: 40px;
    line-height: 50px;
}
form > p{
    display: block;
    width: 80%;
    height: 20%;
    margin: 0 10%;
    margin-top: 2.5%;
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
form > button{
    display: block;
    width: 50%;
    height: 8.5%;
    margin: 0 25%;
    margin-top: 2.5%;
    background-color: inherit;
    border: 5px solid white;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
#links{
    width: 80%;
    height: 10%;
    margin: 0 10%;
    text-align: center;
}
#links > a{
    display: block;
    margin-top: 2.5%;
    font-size: 35px;
    color: white;
    line-height: 60px;
}